@CHARSET "UTF-8";

.enter {
  fill: green;
  font: bold 48px monospace;
}

.update {
  fill: #333;
  font: bold 48px monospace;
}


.exit {
  fill: brown;
  font: bold 48px monospace;
}