@external .extent ;

.bt {
	position: relative;
	width: 960px;
}

.point {
	fill: #999;
	stroke: #fff;
}

.point.selected {
	fill: red;
	fill-opacity: 1;
	stroke: brown;
}

.bt .brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.bt button {
	position: absolute;
	right: 30px;
	top: 30px;
}