language: java
jdk:
 - oraclejdk8
install:
  - if [ ! -z "$GPG_SECRET_KEYS" ]; then echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import; fi
  - if [ ! -z "$GPG_OWNERTRUST" ]; then echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust; fi
  - chmod +x .travis/*.sh
  - ls -al .travis
deploy:
  -
    provider: script
    script:
      - .travis/deploy_on_maven_central.sh
    skip_cleanup: true
    on:
      repo: gwtd3/gwt-d3
      branch: master
      jdk: oraclejdk8
  -
    provider: script
    script:
      - .travis/deploy_on_maven_central.sh
      - .travis/deploy_demo_on_github.sh
    skip_cleanup: true
    on:
      repo: gwtd3/gwt-d3
      tags: true
      jdk: oraclejdk8
