@external .major, .minor, .tick;
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x path {
  display: none;
}
.y path {
}

.label{
	
}

.svg{
	
}

.major{
}

.minor{
}

.tick{
	
}

