.svg.slider{
	vertical-align: middle;
}

.rule{
	stroke: #999;
	fill: none;
	cursor: pointer;
	pointer-events: visible;
}

.cursor{
	stroke: #999;
	fill: #fff;
	cursor: pointer;
}

.cursor:hover{
	stroke: #555;
	fill: #ddd;
}

.label{
	fill: #999;
	font: 10px sans-serif normal; 
}

.cursor.disabled{
	stroke: #ccc;
}
